@media (max-width: 700px) {
  .menu ul {
    display: none;
  }
  
  .menu li + li {
    margin-left: 0px;
  }

  .menu .btn-menu {
    display: block;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
    background: #3391ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
  }

  .menu .btn-menu:hover {
    text-decoration: none;
  }

  .menu ul.active {
    position: absolute;
    display: block;
    top: 102%;
    right: 0;
    width: 200px;
    background: #fff;
    border-radius: 5px 0px 0px 5px;
    box-shadow: -2px 2px 2px 0px rgba(0,0,0,.2);
    padding: 10px;
    animation: show-up .3s forwards;
  }

  .menu ul.active li a {
    margin-top: 10px;
    margin-right: 0px;
  }

  .menu ul.active li .btn-produtos {
    margin-top: 0px;
  }

  .menu ul.active li .btn-produtos:hover {
    transform: scale(1);
  }
}