.produtos-grid {
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.produto {
  position: relative;
  transition: .3s;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.2);
  border-radius: 5px;
}

.produto-img {
  box-shadow: none;
}

.info-produto {
  position: absolute;
  background: rgba(0,0,0,.7);
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
}

.nome-produto {
  color: #fff;
  font-size: 2rem;
}

.preco-produto {
  color: #3391ff;
  font-weight: 700;
  font-size: 1.5rem;
}

.produto:hover .info-produto {
  display: flex;
  animation: show-visible .6s forwards;
}

.produto:hover .info-produto h2, span {
  animation: show-up .3s forwards;
}

.produto:hover {
  transform: scale(1.1);
}

@keyframes show-visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media(max-width: 700px) {
  .produtos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .nome-produto {
    font-size: 1.2rem;
  }
}