.controles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.controles li button {
  background: #3391ff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);

  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: .3s;
  margin: 8px;
}

.controles li button:hover {
  transform: scale(1.1);
  text-decoration: none;
  background: #0076FF;
}

.controles li button.ativo {
  background: #0076FF;
}

.conteudo section {
  margin: 0 auto;
  display: none;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  grid-gap: 1.275rem 30px;
  position: relative;
}

.conteudo section.ativo {
  display: grid;
  animation: show-up .3s forwards;
}

.conteudo > .titulo, img {
  grid-column: 1;
}

.conteudo .titulo-sobre {
  text-align: right;
}

.conteudo .titulo-sobre::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 4px;
  background: #3391ff;
  top: 15px;
  margin-left: 30px;
}

.modulos {
  margin: 20px 0;
}

.modulos li + li {
  margin-top: 10px;
}

.modulos li {
  color: #3391ff;
  cursor: pointer;
}

.modulos li:hover {
  text-decoration: underline;
}

.modulos li::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #3391ff;
  border-radius: 50px;
  margin-right: 4px;
  position: relative;
  bottom: 3px;
}

@media (max-width: 700px) {
  .controles {
    margin-bottom: 20px;
  }
  .controles li button{
    padding: 10px;
    font-size: .835rem;
    margin: 4px;
  }
  .conteudo section {
    margin: 30px 0;
    grid-template-columns: 1fr;
  }
  .conteudo .titulo-sobre {
    text-align: left;
  }
  .conteudo .titulo-sobre::after {
    margin-left: 10px;
    top: 12px;
  } 
  .conteudo img {
    max-width: 280px;
  }
}